<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>세미 프로젝트 - index</title>
    <link rel="stylesheet" href="css/bs5/bootstrap.css">
    <link rel="stylesheet" href="css/base.css">
    <style>

        /*#container {width: 950px; border : 1px solid red; margin : 0 auto}*/
    </style>
</head>
<body>
    <div class="container">
        <header >
            <a href="index.html"><h1>JSP 프로젝트 V1</h1></a>
        </header>
        <nav>
            <div class="container text-center">
                <ul id="nav" class="list-inline row text-center justify-content-evenly mt-5">
                    <li class="list-inline-item col-2"><a href="index.html" class="text-decoration-none text-dark">HOME</a></li>
                    <li class="list-inline-item col-2"><a href="join.html" class="text-decoration-none text-dark">회원가입</a></li>
                    <li class="list-inline-item col-2"><a href="login.html" class="text-decoration-none text-dark">로그인</a></li>
                    <li class="list-inline-item col-2"><a href="board/list.html" class="text-decoration-none text-dark">게시판</a></li>
                    <li class="list-inline-item col-2"><a href="myinfo.html" class="text-decoration-none text-dark">회원정보</a></li>
                </ul>
            </div>
            <hr>
        </nav>
        <main>
            <div class="text-center">
                <img src="img/img.png" alt="보노보노" width="800">
            </div>
        </main>
        <footer>
            <hr>
            <div class="text-center mb-3">COPYRIGHT &copy; by WEBDESIGN.
                ALL RIGHT RESERVED</div>
        </footer>
    </div>
</body>
</html>