<header >
    <a href="/"><h1>JSP 프로젝트 V1</h1></a>
</header>
<nav>
    <div class="container text-center">
        <ul id="nav" class="list-inline row text-center justify-content-evenly mt-5">
            <li class="col-2"><a href="/" class="text-decoration-none text-dark">HOME</a></li>

            <li class="col-2">
                {% if 'm' in request.session  %}
                    <a href="#" class="text-decoration-none text-dark">회원가입</a>
                {% else %}
                    <a href="/join" class="text-decoration-none text-dark">회원가입</a>
                {% endif %}
            </li>

            {% if 'm' in request.session %}
            <li class="col-2"><a href="/logout" class="text-decoration-none text-dark">로그아웃</a></li>
            {% else %}
            <li class="col-2"><a href="/login" class="text-decoration-none text-dark">로그인</a></li>
            {% endif %}


            <li class="col-2"><a href="/board/list/1" class="text-decoration-none text-dark">게시판</a></li>
            <li class="col-2"><a href="/gallery/list/1" class="text-decoration-none text-dark">갤러리</a></li>
            <li class="col-2"><a href="/myinfo" class="text-decoration-none text-dark">회원정보</a></li>
        </ul>
    </div>
    <hr>
</nav>
